/* Estilo para el modal de Shepherd.js */
.shepherd-modal {
    background-color: #1E3A8A; /* Azul oscuro */
    color: #FFFFFF; /* Texto blanco */
    border-radius: 0.375rem; /* Bordes redondeados */
}

/* Estilo del encabezado */
.shepherd-header {
    background-color: #3B82F6; /* Azul más suave para el encabezado */
    color: #FFFFFF; /* Texto blanco en el encabezado */
    font-weight: bold;
}

/* Estilo para el botón de cerrar */
.shepherd-close-button {
    background-color: #3B82F6; /* Color de fondo del círculo */
    color: #FFFFFF; /* Color del icono */
    border-radius: 50%; /* Círculo */
    border: none;
    font-size: 1.5rem; /* Tamaño del icono */
    width: 2rem; /* Ancho del botón */
    height: 2rem; /* Altura del botón */
}

/* Estilo del texto del modal */
.shepherd-text {
    text-align: left; /* Alineación del texto a la izquierda */
}

/* Estilo de los botones */
.shepherd-button-secondary {
    background-color: #4B5563; /* Color de fondo para el botón "Atras" */
    color: #FFFFFF; /* Texto blanco */
}

.shepherd-button-primary {
    background-color: #3B82F6; /* Color de fondo para el botón "Siguiente" */
    color: #FFFFFF; /* Texto blanco */
}
